// Home-specific styling

// Hero/Masthead
.homepage .hero {
  @include white-overlay(.1);
  background:url(../img/clouds.jpg) no-repeat scroll center center;
  background-size:cover;
  color:shade($dark-gray, 50%);
  padding-top:8em;
  position: relative;
}

// Advertisement
.homepage .advertisement {
  background:url(../img/city.jpg) no-repeat scroll center center;
  background-size: cover;

  @include medium {
    background-image:url(../img/city_700w.jpg);
  }

  @include large {
    background-image:url(../img/city_1200w.jpg);
  }
}