// App Footer Section

.app-footer {
  @include clearfix;
  background-color:$dark-gray;
  color:#fff;
  font-size:.9em;
  margin-top: 2em;
  padding: 2em;
  text-align: center;
}

.app-footer p {
  @include medium {
    float:left;
    text-align: left;
  }

  & + p {
    @include medium {
      float: right;
    }
  }
}