// Advertisement

.advertisement {
  color: #fff;
  display:block;
  margin: 0 1em;
  padding:3em;
  @include overlay(.7);

  @include large {
    margin:0 auto;
  }
}

.advertisement a,
.advertisement__title {
  position: relative;
}

.advertisement__title {
  font-size:1.3em;
}